{% extends "base.html" %}
{% load static %}

{% include "includes/single_page_header.html" %}
{% block title %}FruitsTable | Checkout{% endblock %}

{% block content %}
<!-- Checkout Page Start -->
<div class="container-fluid py-5 my-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form id="create-order-form">
            <div class="row g-5">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart.cart_items.all %}
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="{{item.product.image.url}}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">{{item.product.name}}</td>
                                    <td class="py-5">₹ {{item.product.discounted_price}}</td>
                                    <td class="py-5">{{item.net_weight}}</td>
                                    <td class="py-5">₹ {{item.total_price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="mb-0">Subtotal:</h5>
                        <p class="mb-0">₹ {{ cart_amount }}</p>
                    </div> 
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="mb-0">Shipping Charges:</h5>
                        <p class="mb-0">₹ {{ shipping_charges }}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="mb-0">Net Payable Amount:</h5>
                        <p class="mb-0">₹ {{ payable_amount }}</p>
                    </div> 
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5">
                    {% if user.is_authenticated %}
                    <h5 class="mb-4">Select Shipping Address</h5>
                    {% for address in addresses %}
                        <!-- Checked first button -->
                        {% if forloop.first %}
                        <div class="form-check my-3">
                            <input type="radio" class="form-check-input" id="address" name="address_id" value="{{ address.uuid }}" checked>
                            <label class="form-check-label" for="Account-1">{{ address.full_address }}</label>
                        </div>
                        {% else %}
                        <div class="form-check my-3">
                            <input type="radio" class="form-check-input" id="address" name="address_id" value="{{ address.uuid }}">
                            <label class="form-check-label" for="Account-1">{{ address.full_address }}</label>
                        </div>
                        {% endif %}
                        <hr>
                    {% endfor %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add New Address
                    </button>
                    {% else %}
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">First Name:<sup>*</sup></label>
                                <input type="text" class="form-control" name="first_name" required>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Last Name:<sup>*</sup></label>
                                <input type="text" class="form-control" name="last_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Email:<sup>*</sup></label>
                                <input type="text" class="form-control" name="email" required>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Mobile:<sup>*</sup></label>
                                <input type="text" class="form-control" name="mobile_number" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Address Line <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="House Number/Street Name" name="address_line" required>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">City/Town<sup>*</sup></label>
                                <input type="text" class="form-control" name="city" required placeholder="City/Town"> 
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">State<sup>*</sup></label>
                                <input type="text" class="form-control" name="state" required placeholder="State">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">PostCode/Zip<sup>*</sup></label>
                                <input type="text" class="form-control" name="pincode" required placeholder="PostCode/Zip">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% comment %} <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Transfer-1" name="Transfer" value="Transfer">
                                <label class="form-check-label" for="Transfer-1">Direct Bank Transfer</label>
                            </div>
                            <p class="text-start text-dark">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                        </div>
                    </div> {% endcomment %}
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" name="payment_method" value="1" checked>
                                <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'includes/add_address_modal.html' %}
<script src="{% static 'js/checkout.js' %}"></script>

<!-- Checkout Page End -->
{% endblock content %}