{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Fruitables | LogIn{% endblock %}

{% block css %}
<style>
    input{
        color:#022255 !important;
    }
    input[type=email]:focus,
    input[type=password]:focus,
    input[type=text]:focus{
        box-shadow: 0 0 5px rgba(246, 8, 110,0.8);
        border: 1px solid rgba(246, 8, 110,0.8);
    }
    .form-container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-horizontal {
        width: 320px;
        background-color: #ffffff;
        padding: 25px 38px;
        border-radius: 12px;
        box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    }
    .control-label {
        text-align: left !important;
        padding-bottom: 4px;
    }
    .progress {
        height: 3px !important;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .show-pass{
        position: absolute;
        top:5%;
        right: 8%;
    }
    .progress-bar-danger {
        background-color: #e90f10;
    }
    .progress-bar-warning{
        background-color: #ffad00;
    }
    .progress-bar-success{
        background-color: #02b502;
    }
    .login-btn{
        background-image: linear-gradient(to right, #f6086e , #ff133a) !important;
        font-size: 18px;
        color: #fff;
        margin: 0 auto 5px;
        padding: 8px 0; 
    }
    .login-btn:hover{
        background-image: linear-gradient(to right, rgba(255, 0, 111, 0.8) , rgba(247, 2, 43, 0.8)) !important;
        color: #fff !important;
    }
    .input-div {
        position: relative;
    }
    .fa-eye{
        color: #022255;
        cursor: pointer;
    }
    .ex-account p a{
        color: #f6086e;
        text-decoration: underline;
    }
    .fa-circle{
        font-size: 6px;  
    }
    .fa-check{
        color: #02b502;
    }

    .mt-10 {
        margin-top: 5rem !important;
    }
    .show-pass{
        position: absolute;
        top: 54%;
        right: 5%;
    }

    .errorlist li{
        color: red;
    }
    </style>
{% endblock css %}


{% block content %}
<div class="form-container pt-5 mt-10">
    <form class="form-horizontal" id="loginUserForm" method="POST" action="{% url 'login' %}">
        <h1>LogIn</h1>
        <fieldset>
            
            {{ form.non_field_errors }}

            {% csrf_token %}
            <!-- Email input-->
            {{ form.username.errors }}
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    Email
                </label>
                <div class="col-md-12">
                    {{ form.username|addclass:"form-control"|addplaceholder:"Your registered email..." }}
                </div>
            </div>
            
            <!-- Password input-->
            {{ form.password.errors }}
            <div class="form-group input-div">
                <label class="col-md-12 control-label" for="id_password">
                    Password
                </label>
                <div class="col-md-12">
                    {{ form.password|addclass:"form-control"|addplaceholder:"Password..." }}
                    <span class="show-pass" data-id="id_password" onclick="toggle(this)">
                        <i class="far fa-eye" onclick="hideAndShowEye(this)"></i>
                    </span>
                </div>
            </div>
            <!-- Button -->
            
            <div class="form-group">
                <button type="submit" class="btn w-100 login-btn btn-block">
                    Login
                </button>
            </div>
            <div class="ex-account text-center">
                <p>Already have an account? Signin 
                    <a href="/">here</a>
                </p>
                <div class="divider"></div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}