{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container" style="margin: 200px auto;">
    Your password has been changed. Now you can login with your new password.
    <form class="dropdown-item" action="{% url 'logout' %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; display: inline; color: #81c408;">Logout</button>
    </form>
</div>
{% endblock content %}