{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}FruitsTables | Contact Us{% endblock title %}

{% block css %}
<style>
    .hero-section {
        position: relative;
    }

    .hero-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("{% static 'img/hero-img-4.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }


</style>
{% endblock css %}

{% block content %}

<!-- Testimonial Form Start -->
<div class="container-fluid contact" style="margin-top: 150px !important;">
    <div class="container py-5">
        <div class="p-5 hero-section rounded">
            <h1 style="text-align: center; color: white;">Registration Form 🍒</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <form method="POST" id="signUpForm">
                        {% csrf_token %}
                        <div class="row g-4 my-1">
                            <div class="col-lg-6 col-12">
                                {{form.email|addclass:"form-control py-3 my-1"|addplaceholder:"Your Email"}}
                                {{form.email.errors}}
                                <ul id="email-errorlist" class="errorlist"></ul>
                            </div>
                             <div class="col-lg-6 col-12">
                                {{form.mobile_number|addclass:"form-control py-3 my-1"|addplaceholder:"Your Mobile Number"}}
                                {{form.mobile_number.errors}}
                            </div>
                        </div>
                        <div class="row g-4 my-1">
                            <div class="col-lg-6 col-12">
                                {{form.first_name|addclass:"form-control py-3 my-1"|addplaceholder:"Your First Name"}}
                                {{form.first_name.errors}}
                            </div>
                            <div class="col-lg-6 col-12">
                                {{form.last_name|addclass:"form-control py-3 my-1"|addplaceholder:"Your Last Name"}}
                                {{form.last_name.errors}}
                            </div>
                        </div>
                        <div class="row g-4 my-1">
                            <div class="col-lg-6 col-12 input-div">
                                {{form.password1|addclass:"form-control py-3 my-1"|addplaceholder:"Your Password"}}
                                {{form.password1.errors}}
                                <span class="show-pass" data-id="id_password1" onclick="toggle(this)">
                                    <i class="far fa-eye" onclick="hideAndShowEye(this)"></i>
                                </span>
                                <ul>
                                    <li><small>Password must contain uppercase, lowercase, and special character.</small></li>
                                    <li><small>Password length must be greater than 7.</small></li>
                                </ul>
                                <ul id="password1-errorlist" class="errorlist"></ul>
                            </div>
                            <div class="col-lg-6 col-12 input-div">
                                {{form.password2|addclass:"form-control py-3 my-1"|addplaceholder:"Confirm Password"}}
                                {{form.password2.errors}}
                                <span class="show-pass" data-id="id_password2" onclick="toggle(this)">
                                    <i class="far fa-eye" onclick="hideAndShowEye(this)"></i>
                                </span>
                                <ul id="password2-errorlist" class="errorlist"></ul>
                            </div>
                        </div>
                        <button class="w-100 btn form-control border-secondary py-3 my-3 bg-white text-primary" disabled id = "signUpBtn" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock js %}