<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">FruitsTables Pages</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a id="home-link" href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a id="about-link" href="{% url 'about' %}">About</a></li>
        <li class="breadcrumb-item"><a id="contact-link" href="{% url 'contact' %}">Contact</a></li>
        <li class="breadcrumb-item"><a id="testimonials-link" href="{% url 'testimonials' %}">Testimonials</a></li>
    </ol>
</div>
<!-- Single Page Header End -->